@font-face {
  font-family: 'Assistant';
  src: url('./assets/fonts/Assistant-ExtraBold.eot'); /* IE9 Compat Modes */
  src: url('./assets/fonts/Assistant-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/Assistant-ExtraBold.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/Assistant-ExtraBold.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: extra-bold;
}
@font-face {
  font-family: 'Assistant';
  src: url('./assets/fonts/Assistant-Bold.eot'); /* IE9 Compat Modes */
  src: url('./assets/fonts/Assistant-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/Assistant-Bold.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/Assistant-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: bold;
}
@font-face {
  font-family: 'Assistant';
  src: url('./assets/fonts/Assistant-Regular.eot'); /* IE9 Compat Modes */
  src: url('./assets/fonts/Assistant-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/Assistant-Regular.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/Assistant-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: regular;
}


body, div, a, p, span, button, button span {
  font-family: 'Assistant', Arial;
  font-weight: normal;
  font-size: 14px;
}

.App {
  text-align: center;
  margin: auto;
  max-width: 820px;
}

.app-title {
  direction: rtl;
  margin-top: 20px;
  font-size: 5rem;
  font-weight: bold;
  color: darkblue;
}

.App > div {
  display: inline-block;
  vertical-align: middle;
}

.App .app-title {
  display: block;
  clear: both;
  margin-bottom: 20px;
}

.coalitionContainer, .parties {
  display: flex;
  height: 600px;
  vertical-align: middle;
  text-align: center;
  /* border: 1px solid; */
}

.coalitionContainer {
  width: 500px;
}

.parties {
  width: 300px;
}

.party-button {
  text-align: center;
}

.party-button button {
  display: block;
  margin: 10px auto;
  height: 44px;
  width: 220px;
  border: 1px solid;
  background-color: white;
  color: darkred;
  transition: 0.2s ease;
}

.party-button button:hover, .party-button button:hover span {
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-width: 2px;
  transition: 0.2s ease;
}

.party-button button.clicked, .party-button button.clicked span {
  background-color: darkblue;
  color: #fff !important;
  font-size: 16px;
  font-weight: bold;
  border-width: 4px;
}

.coalitionMandates {
  font-size: 7rem;
  color: darkblue;
  margin-top: 20%;
  line-height: 0.9;
}

.mandatim {
  font-size: 1.6rem;
  margin-bottom: 16px;
}

.coalition {
  height: 170px;
  position: relative;
}

.seat {
  display: block;
  position: absolute;
  height: 14px;
  width: 8px;
  border: 2px solid darkblue;
  border-radius: 4px;
}

.seatBack {
  height: 24%;
  border-top: 2px solid darkblue;
  border-radius: 2px;
  margin-top: 8px;
}

.coalitionSuccess {
  direction: rtl;
  font-size: 3rem;
  color: darkblue;
  margin-bottom: 3%;
  transition: 0.2s ease;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

.coalitionShare button {
  direction: rtl;
  display: inline-block;
  padding: 6px 12px;
  font-size: 1.2rem;
  color: darkblue;
  background-color: #fff;
  border: 1px solid darkblue;
  border-radius: 5px;
}

.darkblue {
  border-color: darkblue !important;
  color: darkblue !important;
}

.strong {
  /* pointer-events:none; */
  font-weight: bold;
}

.hidden {
  display: none;
  transition: 0.2s ease;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}