@font-face {
  font-family: 'Assistant';
  src: url('./assets/fonts/Assistant-ExtraBold.eot'); /* IE9 Compat Modes */
  src: url('./assets/fonts/Assistant-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/Assistant-ExtraBold.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/Assistant-ExtraBold.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: extra-bold;
}
@font-face {
  font-family: 'Assistant';
  src: url('./assets/fonts/Assistant-Bold.eot'); /* IE9 Compat Modes */
  src: url('./assets/fonts/Assistant-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/Assistant-Bold.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/Assistant-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: bold;
}
@font-face {
  font-family: 'Assistant';
  src: url('./assets/fonts/Assistant-Regular.eot'); /* IE9 Compat Modes */
  src: url('./assets/fonts/Assistant-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/Assistant-Regular.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/Assistant-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: regular;
}


body, div, a, p, span, button, button span {
  font-family: 'Assistant', Arial;
  font-weight: normal;
  font-size: 14px;
}

.App {
  text-align: center;
  margin: auto;
  max-width: 820px;
}

.App > div {
  display: inline-block;
  vertical-align: middle;
}

.App .app-title {
  display: block;
  clear: both;
  margin-bottom: 20px;
}

.coalitionContainer, .parties {
  display: flex;
  width: 400px;
  height: 600px;
  vertical-align: middle;
  text-align: center;
  border: 1px solid;
}

.party-button {
  text-align: center;
}

.party-button button {
  display: block;
  margin: 10px auto;
  height: 44px;
  width: 220px;
  border: 3px solid;
  background-color: white;
  color: darkred;
  transition: 0.2s ease;
}

.party-button button:hover, .party-button button:hover span {
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-width: 4px;
  transition: 0.2s ease;
}

.party-button button.clicked {
  background-color: darkblue;
  color: #fff !important;
}

.coalitionMandates {
  font-size: 6rem;
  margin-top: 30%;
}

.coalition {
  height: 260px;
  position: relative;
}

.seat {
  display: block;
  position: absolute;
  height: 12px;
  width: 7px;
  border: 2px solid darkblue;
  border-radius: 4px;
}

.seatBack {
  height: 24%;
  border-top: 2px solid darkblue;
  border-radius: 2px;
  margin-top: 8px;
}

.darkblue {
  border-color: darkblue !important;
  color: darkblue !important;
}

.strong {
  /* pointer-events:none; */
  font-weight: bold;
}